<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucasjfz.testehack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="reciclo"
        android:roundIcon="@mipmap/icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="reciclo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity_col"
            android:label="reciclo" />
        <activity
            android:name=".Activity_perfil"
            android:label="reciclo" />
        <activity
            android:name=".LoginActivity"
            android:label="reciclo" />
        <activity
            android:name=".Activity_prem"
            android:label="reciclo" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>